<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="container text-center">
      <h3>사원 상세 조회</h3>
      <div>
        <div class="form-floating mb-3">
          <input class="form-control" id="eId" type="text" th:value="${emp.employeeId}" readonly />
          <label for="eId">사원번호</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="ename" type="text" th:value="${emp.lastName}" readonly />
          <label for="ename">이름</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="email" type="text" th:value="${emp.email}" readonly />
          <label for="email">이메일</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="hdate" type="date" th:value="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}" readonly />
          <label for="hdate">입사일</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="job" type="text" th:value="${emp.jobId}" readonly />
          <label for="job">업무</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="sal" type="number" step="0.01" th:value="${emp.salary}" readonly />
          <label for="sal">급여</label>
        </div>
        <div> <!-- 링크표현식 ? => (), & => , -->
          <button type="button" th:onclick="|location.href='@{/empUpdate(employeeId=${emp.employeeId})}'|" class="btn btn-primary">수정</button>
          <button type="button" th:onclick="|location.href='@{/empList}'|" class="btn btn-success">목록</button>
          <button type="button" th:onclick="|location.href='@{/empDelete(empId=${emp.employeeId})}'|" class="btn btn-warning">삭제</button>
        </div>
      </div>
    </div>
  </body>
</html>
