<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="container text-center">
      <h3>사원 등록</h3>
      <!--/* 
      	  @{}, 링크표현식 => 경로를 생성할 때 사용 
      	  href, src, action 속성에서 주로 사용
      */-->
      <form name="insertForm" th:action="@{/empInsert}" method="post">
        <div class="form-floating mb-3">
          <input class="form-control" id="ename" type="text" name="lastName" />
          <label for="ename">이름</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="email" type="text" name="email" />
          <label for="email">이메일</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="hdate" type="date" name="hireDate" />
          <label for="hdate">입사일</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="job" type="text" name="jobId" />
          <label for="job">업무</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" id="sal" type="number" step="0.01" name="salary" />
          <label for="sal">급여</label>
        </div>
        <div>
          <button type="reset" class="btn btn-success">초기화</button>
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
      </form>
    </div>
    <script>
      document.querySelector('form[name="insertForm"]')
              .addEventListener('submit', function(event) {
                event.preventDefault(); // 해당 이벤트 일시정지

                let nameTag = document.querySelector('form [name="lastName"]');
                if(nameTag.value == '') {
                  alert('이름이 입력되지 않았습니다.');
                  nameTag.focus();
                  return;
                }

                let salaryTag = document.querySelector('form [name="salary"]');
                if(salaryTag.value == '') {
                  salaryTag.value = 0;
                }

                alert('정상적으로 등록되었습니다.');
                event.currentTarget.submit();
              });
    </script>
  </body>
</html>
