<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}" layout:fragment="Content">

<head>
      <meta charset="UTF-8">
      <title></title>
</head>

<body>
      <div class="container text-center">
            <h3>도서 조회/수정</h3>
            <table class="table">
                  <thead>
                        <tr>
                              <th>도서번호</th>
                              <th>도서명</th>
                              <th>표지</th>
                              <th>출판일자</th>
                              <th>금액</th>
                              <th>출판사</th>
                              <th>도서소개</th>
                        </tr>
                  </thead>
                  <tbody>
                        <th:block th:each="info : ${books}">
                              <tr>
                                    <td>[[ ${info.bookNo} ]]</td>
                                    <td style="text-align:left">[[ ${info.bookName} ]]</td>
                                    <td><img style="width:10%;" th:src="@{/images/{fileName}(fileName=${info.bookCoverimg})}"></td>
                                    <td>[[ ${#dates.format(info.bookDate, 'yyyy/MM/dd')} ]]</td>
                                    <td style="text-align:right">[[ ${#numbers.formatInteger(info.bookPrice, 3, 'COMMA')} ]]</td>
                                    <td style="text-align:left">[[ ${info.bookPublisher} ]]</td>
                                    <td style="text-align:left">[[ ${info.bookInfo} ]]</td>
                              </tr>
                        </th:block>
                  </tbody>
            </table>
      </div>

</body>

</html>